<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="userDao" class="com.gotten.springframework.test.bean.UserDao"/>
    <bean id="userService" class="com.gotten.springframework.test.bean.UserService">
        <property name="userId" value="1"/>
        <property name="userDao" ref="userDao"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
    </bean>

    <bean class="com.gotten.springframework.test.common.MyBeanFactoryPostProcessor"/>
    <bean class="com.gotten.springframework.test.common.MyBeanPostProcessor"/>
</beans>